* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply px-3 py-1 mt-1 text-red-600 border-2 rounded-2xl border-rose-600;
  }
}
